page-home {
    .map_container {
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .amap-touch-toolbar .amap-zoomcontrol {
        position: absolute;
        right: 4px;
        bottom: -80px;
        width: 35px;
        background-color: #fff;
        background-color: rgba(255,255,255,.9);
        border-radius: 3px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 10px 0 #ccc;
    }
    .amap-zoomcontrol {
        width: 24px;
        position: absolute;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    .amap-logo,
    .amap-copyright {
        display: none!important;
    }
}
